<app-page pageTitle="Time Tracker" (primaryClick)="onAddClick()" icon="add">
  <modal modalTitle="Category" [name]="'add-category'">
    <form class="roster wrapper" [formGroup]="addForm" (ngSubmit)="addCategory()" novalidate>
      <input type="text" formControlName="newCategory" class="input flex--stretch-2" />
      <button type="submit" class="btn btn--primary btn-group__item" [disabled]="addForm.controls.newCategory.invalid">add</button>
    </form>
  </modal>
  <app-card [cardTitle]="'Tracking for ' + date">
    <time-tracker [date]="date"></time-tracker>
  </app-card>
</app-page>
