<form class="roster wrapper" [formGroup]="addForm" (ngSubmit)="addCategory()" novalidate>
  <input type="text" formControlName="newCategory" class="input flex--stretch-2" />
  <button type="submit" class="btn btn--primary btn-group__item" [disabled]="addForm.controlss.newCategory.invalid">add</button>
</form>

<ng-container *ngIf="timeTable$ | async as timeTable">
  <ul class="menu">
    <li class="menu__item roster" *ngFor="let category of (categories$ | async)">
      <span class="flex--stretch-2">{{ category.name }}</span>
      <button class="btn" [class.btn--primary]="timeTable.current === category.name" (click)="track(category)">+</button>
      <button class="btn" (click)="removeCategory(category)">&times;</button>
    </li>
  </ul>
</ng-container>

