.btn-group {
  display: flex;
  align-items: flex-start;
  margin-left: -var(--vspacing);
  margin-bottom: var(--vspacing);
  padding: 0 var(--hspacing);

  &__item {
    margin-left: calc(var(--hspacing) / 2);
  }
}

.btn {
  font-family: 'Quicksand', sans-serif;
  padding: .25rem .75rem .4rem;
  border: 1px solid transparent;
  font-size: 1.4rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);

  &:not(:last-child) {
    margin-right: calc(var(--hspacing) / 2);
  }

  &--primary {
    background: var(--color-primary);
    border-color: var(--color-primary-dark);
    color: var(--color-gray-lightest);
  }


  &--secondary {
    background: white;
    border-color: var(--color-primary);
    color: var(--color-gray-darkest);
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.2);
    border: var(--color-gray-darkest);
  }
}