.roster {
  display: flex;

  &__item {
    flex-grow: 1;
    padding: 0 .5rem;
  } 
}

.flex--stretch {
  &-4 {
    flex-grow: 4;
  }

  &-2 {
    flex-grow: 2;
  }
}

.wrapper {
  display: flex;
  padding: 0 var(--hspacing) var(--vspacing);
}
