.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    white-space: nowrap;
  }

  thead td {
    padding: var(--hspacing) var(--vspacing) .5rem;
    font-weight: 700;
  }

  tbody td {
    padding: .25rem 1rem;
  }

  tbody tr:nth-child(even) {
    background: var(--color-gray-lighter);
  }

  td:first-child {
    padding-left: var(--hspacing);
  }

  td:last-child {
    padding-right: var(--hspacing);
  }

  thead {
    background: #eee;
  }

  tfoot {
    tr {
      border-top: 1px solid var(--color-gray-darkest);
    }
  }
}