:root {
  --color-primary-dark: #7B1FA2;
  --color-primary: #9C27B0;
  --color-accent: #7C4DFF;
  --color-gray-darkest: #212121;
  --color-gray-light: #ccc;
  --color-gray-lighter: #eee;
  --color-gray-lightest: #fff;
  
  --border-radius: 4px;
  --hspacing: 2rem;
  --vspacing: 1rem;
  --shadow: 0 0 1px 1px rgba(0,0,0,.07), 0 1px 2px 0 rgba(0,0,0,.25);
}
