<ng-container *ngIf="history$ | async as history">
  <app-card [cardTitle]="'Last updated: ' + (history[0].lastUpdated | date: 'HH:mm')">
    <table class="table">
      <thead>
        <tr>
          <td>date</td>
          <td>last update</td>
          <td>tracking</td>
          <td>total</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of history">
          <td>{{ entry.date }}</td>
          <td>{{ entry.lastUpdated | date: 'HH:mm' }}</td>
          <td>
              <div class="roster" *ngFor="let category of category$ | async">
                <span class="flex--stretch-2">{{category.name}}</span>
                <span>{{ entry.hours[category.name] || 0 | time }}</span>
              </div>
          </td>
          <td>{{ entry.total | time }}</td>
          <td class="nowrap align--right">
            <button class="btn btn--primary" (click)="edit(entry)">
              <span class="material-icons">edit</span>
            </button>
            <button class="btn" (click)="remove(entry)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </app-card>
</ng-container>