<ng-container *ngIf="history$ | async as history">
  <app-card cardTitle="History">
    <table class="table">
      <thead>
        <tr>
          <td>date</td>
          <td *ngFor="let category of category$ | async">{{ category.name }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of history">
          <td>{{ entry.date }} {{ entry.lastUpdated | date: 'HH:mm' }}</td>
          <td *ngFor="let category of category$ | async" [class.active]="entry.current === category.name">{{ entry.hours[category.name] || '0.00' | time }}</td>
          <td>{{ entry.total | time }}</td>
          <td class="align--right"><button class="btn btn--primary" (click)="remove(entry.date)">&times;</button></td>
        </tr>
      </tbody>
    </table>
    <!-- <p class="wrapper">{{ history.length }} items</p> -->
  </app-card>
</ng-container>